* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Signika Negative', sans-serif;
}

:root {
    --theme1-nav: #a6a867;
    --theme1-border: #51513d;
    --theme1-nav-active: #e3dc95;
    --theme1-hover: #e3dcc2;
    --theme2-nav: #a06cd5;
    --theme2-border: #102b3f;
    --theme2-nav-active: #6247aa;
    --theme2-hover: #e2cfea;
    --theme3-nav: #8ea4d2;
    --theme3-border: #49516f;
    --theme3-nav-active: #6279b8;
    --theme3-hover: #a1b6e4;
    --theme-dark: #373737;
}

div#test {
    display: flex;
    justify-content: center;
}

div#title {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

div#themes {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 15%;
    right: 15%;
    justify-content: space-evenly;
    margin: 15px 0;
}

/* TABLE FORMATTING */

table {
    border: 3px solid;
    border-radius: 5px;
    border-color: green;
    border-collapse: collapse;
    margin: 10px;
    margin-top: 50px;
}

table#todolist {
    display: grid;
    justify-items: center;
    width: fit-content;
    max-width: 100%;
}

thead, tfoot {
    border: 0;
}

tbody > tr > td > button {
    display: none;
}

tbody > tr {
    height: 30px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: green;
}

tbody > tr > td {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 500px;
}

tbody > tr:hover {
    background-color: rgb(136, 218, 136);
}

/* NAVIGATION BAR FORMATTING */
nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(117, 214, 117);
    align-items: center;
    height: 50px;
}

nav > a {
    text-decoration-line: none;
    color: black;
    max-height: 50px;
    padding: 15px 3%;
}

nav > a.disabled {
    background-color: rgb(68, 126, 68);
}

/* NOTES FORMATTING */


/* DATE FORMATTING */
div#date {
    display: flex;
    flex-flow: column;
    color: rgb(68, 126, 68);
    font-weight: bold;
    text-align: center;
    width: fit-content;
    position: absolute;
    right: 0;
    padding: 10px;
}
div#date > p#day {
    font-size: xx-large;
}


/* QUOTE FORMATTING */
div#quote {
    margin: 15px;
    display: grid;
    justify-items: center;
}

span {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* THEME1 */
nav.theme1 {
    background-color: var(--theme1-nav);
}
nav.theme1 > a.disabled {
    background-color: var(--theme1-nav-active);
}
div#date.theme1 {
    color: var(--theme1-border);
}
tbody.theme1 > tr {
    border-color: var(--theme1-border);
}
table.theme1 {
    border-color: var(--theme1-border);
}
tbody.theme1 > tr:hover {
    background-color: var(--theme1-hover);
}

/* THEME2 */
nav.theme2 {
    background-color: var(--theme2-nav);
}
nav.theme2 > a.disabled {
    background-color: var(--theme2-nav-active);
}
div#date.theme2 {
    color: var(--theme2-border);
}
tbody.theme2 > tr {
    border-color: var(--theme2-border);
}
table.theme2 {
    border-color: var(--theme2-border);
}
tbody.theme2 > tr:hover {
    background-color: var(--theme2-hover);
}

/* THEME3 */
nav.theme3 {
    background-color: var(--theme3-nav);
}
nav.theme3 > a.disabled {
    background-color: var(--theme3-nav-active);
}
div#date.theme3 {
    color: var(--theme3-border);
}
tbody.theme3 > tr {
    border-color: var(--theme3-border);
}
table.theme3 {
    border-color: var(--theme3-border);
}
tbody.theme3 > tr:hover {
    background-color: var(--theme3-hover);
}

/* DARK */
body.dark {
    background-color: var(--theme-dark);
    color: rgb(196, 196, 196);
}
tbody.dark > tr:hover {
    color: rgb(69, 69, 69);
}
div#date.dark {
    color: rgb(196, 196, 196);
}