* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: green;
}

tbody > tr > td > button {
    display: none;
}

tbody > tr {
    height: 30px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(117, 214, 117);
    align-items: center;
    height: 50px;
}

nav > a {
    text-decoration-line: none;
    color: black;
    max-height: 50px;
    padding: 15px 3%;
}

nav > a.disabled {
    background-color: rgb(68, 126, 68);
}

table.notes {
    display: flex;
    flex-flow: row wrap;
}
