* {
    box-sizing: border-box;
    margin: 0;
}

/* TABLE FORMATTING */
div#test {
    display: flex;
    justify-content: center;
}

table {
    border: 3px solid;
    border-radius: 5px;
    border-color: green;
    border-collapse: collapse;
    margin: 10px;
    margin-top: 75px;
}

table#todolist {
    display: grid;
    justify-items: center;
    width: fit-content;
    max-width: 100%;
}

tfoot > tr > td > button {
    column-span: 2;
}

thead > tr, tfoot {
    display: grid;
    column-count: 1;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: aliceblue;
}

th {
    margin: auto;
}

tbody > tr > td > button {
    display: none;
}

tbody > tr {
    height: 30px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: green;
}

tbody > tr > td {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 500px;
}

/* NAVIGATION BAR FORMATTING */
nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(117, 214, 117);
    align-items: center;
    height: 50px;
}

nav > a {
    text-decoration-line: none;
    color: black;
    max-height: 50px;
    padding: 15px 3%;
}

nav > a.disabled {
    background-color: rgb(68, 126, 68);
}

/* NOTES FORMATTING */
table.notes {
    display: flex;
    flex-flow: row wrap;
}

/* DATE FORMATTING */
div#date {
    display: flex;
    flex-flow: column;
    color: rgb(117, 214, 117);
    font-weight: bold;
    text-align: center;
    width: fit-content;
    position: absolute;
    right: 0;
    padding: 10px;
}
div#date > p#day {
    font-size: xx-large;
}


/* QUOTE FORMATTING */
div#quote {
    margin: 15px;
    display: grid;
    justify-items: center;
}

span {
    display: flex;
    justify-content: center;
    flex-direction: row;
}